body{
    margin: 0;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: white 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tesk-area{
    border: 1px solid lightgray;
}
.task-taps{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-taps div{
    padding: 10px;
}
#under-line{
    height: 4px;
    background-color: aqua;
    position: absolute;
    width: 48px;
    left: 0;
    top: 40px;
    padding: 0;

}
.task{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
